<div class="container">
  <form [formGroup]="form">
    <div class="p-grid">
      <div class="p-col">
        [WIP] 1. Permission to use a microphone is required. 2. Click Start
        button. 3. Sing into the microphone.
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3 p-col-align-center">
        Meter:
        <p-dropdown
          [style]="{ minWidth: '1px', width: '60px' }"
          [options]="meterCountList"
          formControlName="meterCount"
          (onChange)="onChangeMeterCount()"
        ></p-dropdown>
        /
        <p-dropdown
          [style]="{ minWidth: '1px', width: '60px' }"
          [options]="meterUnitList"
          formControlName="meterUnit"
          (onChange)="onChangeMeterUnit()"
        ></p-dropdown>
      </div>
      <div class="p-col-3 p-col-align-center">
        Tempo:♩=<input type="number" pInputText pKeyFilter="int" formControlName="tempo" (blur)="normalizeTempo()" [min]="minTempo" [max]="maxTempo" />
      </div>
      <div class="p-col-3 p-col-align-center">
        <p-button label="start" (click)="start()" [disabled]="generatingScore"></p-button>
        <p-button label="stop" (click)="stop()" [disabled]="!generatingScore"></p-button>
      </div>
    </div>
    <div class="p-grid">
      <div id="score" [innerHTML]="scoreViewData"></div>
    </div>
  </form>
</div>
